<!DOCTYPE html>
<html>
  <head>
    <title>MoviePedia</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
    />
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <section class="hero is-warning is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            MoviePedia
            <span class="icon">
              <i class="fas fa-film"></i>
            </span>
          </h1>
          <h3 class="subtitle">
            <a class="button is-warning is-inverted is-rounded is-outlined" href="http://github.com/v-a-run/MoviePedia">Source Code</a>
          </h3>
        </div>
      </div>
    </section>

    <div class="container">
      
      <div class="columns">
        <div class="column">
          <div id="left-autocomplete"></div>
          <div id="left-summary"></div>
        </div>

        <div class="column">
          <div id="right-autocomplete"></div>
          <div id="right-summary"></div>
        </div>
      </div>
      
      <div class="column is-half notification is-dark tutorial">
        <h1 class="title">Movie Search</h1>
        <p class="subtitle">Search and get detailed info of your favourite movie.
        </p>
        <a class="button is-warning" href="/search">Movie Search</a>
      </div>
    
      <div class="column is-half notification is-dark tutorial">
        <h1 class="title">Movie Wars</h1>
        <p class="subtitle">Pick any 2 movies and we'll find out which one is the BEST !
        </p>
        <a class="button is-warning" href="/wars">Movie Wars</a>
      </div>

    </div>

  </body>
</html>
